body {
  background-image: url("../images/stainedGlass.jpeg");
  background-repeat: repeat;
  background: aqua;
}

.title {
  text-align: center;
  color: rgb(182, 11, 53);
}

.directions {
  background-color: darkblue;
  color: antiquewhite;
}

.scores {
  font-size: medium;
  background-color: rebeccapurple;
  color: seagreen;
}

.yourScore {
  font-size: large;
  background-color: palevioletred;
  color: blue;
}

.goal {
  font-size: large;
  background-color: palevioletred;
  color: blue;
}

